{% extends 'base/base.html' %}
{% block nav %}
    {% include 'base/nav_header.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid-full">
        <div class="row-fluid">
            {% include 'base/nav_left.html' %}
            <div id="content" class="span10" style="min-height: 558px">
                {% block content_r %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}

    <footer>
        <p>
            <span style="text-align:left;float:left">
                Copyright © 宽广集团信息中心
            </span>
        </p>
    </footer>
{% endblock %}
{% block js %}
    {% block common_js %}{% endblock %}
    <script>
        $("#Form").keydown(function (e) {
            var e = e || event;
            var keycode = e.which || e.keyCode;
            if (keycode == 13) {
                $("#Form #submit").click();
            }
        });
    </script>
{% endblock %}

