{% extends 'base/commont.html' %}
{% block current_theme %}
    <a href="#">积分商城</a>
    <a href="#" class="current">主题管理</a>
{% endblock %}
{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-align-justify"></i>
                    <span class="break"></span>
                    主题列表
                </h2>
            </div>
            <div class="box-content">
                <div class="span12">
                    <a class="btn btn-primary" href="{% url 'admin:shop:theme_edit' 0 %}">
                        <i class="icon-plus"></i>
                        添加分类
                    </a>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>开始日期</th>
                        <th>结束日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for theme in theme_list %}
                        <tr>
                            <td>{{ theme.id }}</td>
                            <td>{{ theme.name }}</td>
                            <td>{{ theme.begin_time | date:'Y-m-d'  }}</td>
                            <td>{{ theme.end_time | date:'Y-m-d'  }}</td>
                            <td>
                                <a class="btn btn-info" href="{% url 'admin:shop:theme_edit' theme.id %}" title="编辑">
                                    <i class="icon-edit "></i>
                                </a>
                                <a class="btn btn-info" href="{% url 'admin:shop:theme_info_edit' theme.id %}" title="添加商品">
                                    <i class="icon-plus "></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}

{% endblock %}