{% extends 'base/commont.html' %}

{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-list"></i>券列表
                </h2>
            </div>
            <div class="box-content">
                <a class="btn btn-success" href="{% url 'wxapp:class_edit' 0 %}">新建</a>
                <div class="widget-box">
                    <div class="widget-content nopadding" style="overflow-x:auto; ">
                        <table class="table table-striped table-hover table-form-my">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in List %}
                                <tr>
                                    <td>{{ row.class_name }}</td>
                                    <td><a class="btn btn-success" href="{% url 'wxapp:class_edit' row.id %}">修改</a>
                                        <a class="btn btn-danger" onclick="delete_info({{ row.id }})">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}
    <script>
        function submitForm() {
            $('#Form').submit();
        }
        ;
    </script>
    <script>
        function delete_info(id) {
            if (window.confirm("确定要删除该记录吗？")) {
                var v_url= "{% url 'wxapp:class_delete' 0%}"
                v_url = v_url.replace('0',id);
                window.location.href(v_url)
            }
        }
    </script>
{% endblock %}