{% extends 'base/commont.html' %}

{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-list"></i>券列表
                </h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" id="Form" action="{% url 'wxapp:voucher_index' %}">
                    <div class="control-group">
                        <label class="control-label">券编号
                            <input name="voucher_no" type="text" value="{{ voucher_no }}">
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">券名称
                            <input name="voucher_name" type="text" value="{{ voucher_name }}">
                        </label>
                    </div>
                    <div class="form-actions">
                        <a class="btn btn-primary" onclick="submitForm()">查询</a>
                        <a class="btn btn-success" href="{% url 'wxapp:voucher_edit' 0 %}">新建</a>
                    </div>
                </form>
                <div class="widget-box">
                    <div class="widget-content nopadding" style="overflow-x:auto; ">
                        <table class="table table-striped table-hover table-form-my">
                            <thead>
                            <tr>
                                <th>券编号</th>
                                <th>券名称</th>
                                <th>单价</th>
                                <th>券面值</th>
                                <th>开始日期</th>
                                <th>截止日期</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in List %}
                                <tr>
                                    <td>{{ row.voucher_no }}</td>
                                    <td>{{ row.voucher_name }}</td>
                                    <td>{{ row.unit_price }}</td>
                                    <td>{{ row.voucher_price }}</td>
                                    <td>{{ row.begin_date | date:'Y-m-d' }}</td>
                                    <td>{{ row.end_date | date:'Y-m-d' }}</td>
                                    <td><a class="btn btn-success" href="{% url 'wxapp:voucher_edit' row.id %}">修改</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}
    <script>
        function submitForm() {
            $('#Form').submit();
        }
    </script>
{% endblock %}