{% extends 'base/commont.html' %}
{% load myFilter %}
{% block current_page %}
    <a href="#">礼品卡</a>
    <a href="#" class="current">订单</a>
{% endblock %}
{% block content_r %}
    <style>.card_list{background-color: #eee}</style>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-align-justify"></i>
                    <span class="break"></span>
                    订单查询
                </h2>
            </div>
            <div class="box-content">
                <form action="{% url 'admin:giftcard:card_paid' %}" method="post" id="Form" style="overflow: hidden">
                    <div class="span12 row-fluid">
                        {% csrf_token %}
                        <div data-date-format="yyyy-mm-dd" class="input-group date form_date span3">
                            <label>开始日期：
                                <input type="text" name="begin" id="begin" class="form-control" required readonly value="{{ begin }}">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </label>
                        </div>
                        <div data-date-format="yyyy-mm-dd" class="input-group date form_date span3">
                            <label>截止日期：
                                <input type="text" name="end" id="end" class="form-control" required readonly value="{{ end }}">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </label>
                        </div>

                        <input type="hidden" name="page_num" id="page_num" value="1">
                        <button class="btn btn-primary" type="submit">
                            <i class="icon-search"></i>
                            查询
                        </button>
                    </div>
                </form>
                <div class="alert alert-success">
                    <span>合计张数：</span> {{ total_count | default:0 }}张；
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Card_id</th>
                        <th>卡号</th>
                        <th>面值</th>
                        <th>下单时间</th>
                        <th>支付时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for card in card_code_list %}
                        <tr>
                            <td>{{ card.card_id }}</td>
                            <td>{{ card.code }}</td>
                            <td>{{ card.price | divide:100 }}</td>
                            <td>{{ card.create_time | toDate }}</td>
                            <td>{{ card.pay_time | toDate }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9">暂无数据</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div  class="pagination" style="text-align: center;margin:20px auto;">
                    <ul id="pagination1"></ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    $.jqPaginator('#pagination1', {
        totalPages: {{ total_page | safe | default:1 }},
        visiblePages: 10,
        currentPage: {{ page_num |safe }},
        onPageChange: function (num) {
            var begin = $('#begin').val();
            var end = $('#end').val();
            if(begin&&end){
                switchPage(num)
            }
        }
    });

</script>
<script type="text/javascript">
    $('.btn-toggle').click(function () {
        var icon = $(this).find('i').attr('class');
        if(icon =='icon-double-angle-down'){
            $(this).parents('tr').next('tr').css('display','table-row');
            $(this).find('i').attr('class','icon-double-angle-up');
        }else {
            $(this).parents('tr').next('tr').css('display','none');
            $(this).find('i').attr('class','icon-double-angle-down');
        }
    });

    function switchPage(page_num) {
        $('#page_num').val(page_num);
        $('#Form').submit();
    }

</script>
{% endblock %}