{% extends 'base/commont.html' %}
{% block current_page %}
    <a href="#">礼品卡</a>
    <a href="#" class="current">线下实例</a>
{% endblock %}
{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-align-justify"></i>
                    <span class="break"></span>
                    礼品卡线下实例列表
                </h2>
            </div>
            <div class="box-content">
                <div class="span12">
                    <a class="btn btn-primary" href="{% url 'admin:giftcard:card_edit' 0 %}">
                        <i class="icon-plus"></i>
                        添加礼品卡实例
                    </a>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称-本地</th>
                        <th>名称-微信</th>
                        <th>面值</th>
                        <th>售价</th>
                        <th>初始库存</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for card in card_list %}
                        <tr>
                            <td>{{ card.id }}</td>
                            <td class="center">{{ card.name }}</td>
                            <td class="center">{{ card.title }}</td>
                            <td class="center">{{ card.init_balance }}</td>
                            <td class="center">{{ card.price }}</td>
                            <td class="center">{{ card.quantity }}</td>
                            <td class="center">
                                {% if card.status == 9 %}
                                    <a class="btn btn-inverse btn-setting" title="查看" href="">
                                        <i class="icon-zoom-in"></i>
                                    </a>

                                {% else %}
                                      <a class="btn btn-info" href="{% url 'admin:giftcard:card_edit' card.id %}" title="编辑">
                                        <i class="icon-edit "></i>
                                    </a>
                                    {% endif %}
                                    {% if card.status == '0' %}
                                        <a class="btn btn-primary" title="启用" onclick="delCard('{{ card.id }}','local','1')">
                                            <i class=" icon-unlock"></i>
                                        </a>
                                    {% elif card.status == '1'  %}
                                        <a class="btn btn-warning" title="禁用" onclick="delCard('{{ card.id }}','local','0')">
                                            <i class="icon-lock"></i>
                                        </a>
                                    {% endif %}
                                    {% if card.wx_card_id %}
                                        {% if card.die == 1 %}
                                            <a class="btn btn-danger" title="下架封存" onclick="delCard('{{ card.wx_card_id }}','wx','9')">
                                                <i class=" icon-trash"></i>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-warning" title="普通下架" onclick="delCard('{{ card.wx_card_id }}','wx','2')">
                                                <i class=" icon-trash"></i>
                                            </a>
                                        {% endif %}
                                        <a class="btn btn-primary" href="{% url 'admin:giftcard:card_code_upload_manual' card.wx_card_id %}" title="上传Code">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-inverse btn-setting" title="修改库存" onclick="showFadeBox('{{ card.wx_card_id }}')">
                                            <i class="icon-inbox"></i>
                                        </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">暂无数据</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>修改库存</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <input type="hidden" name="wx_card_id" id="wx_card_id">
            <div class="list" id="modify_stock">
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">增加:</label>
                        <div class="controls">
                            <input id="increase" type="text" value="0">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">减少:</label>
                        <div class="controls">
                            <input id="reduce" type="text" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
        <a onclick="modifyStock()" class="btn btn-primary">确认</a>
    </div>
</div>
{% endblock %}
{% block common_js %}
    <script>
        function delCard(wx_card_id,action,status) {
            var url = "{% url 'admin:giftcard:card_del'%}";
            var data ={
                action:action,
                wx_card_id:wx_card_id,
                status:status,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };

            $.post(url,data,function (res) {
                if(res.status==0){
                    noty({"text":"数据删除成功","layout":"bottom","type":"information"});
                    window.location.reload()
                }else if(res.status==1) {
                    noty({"text":"线下业务流程处理失败","layout":"bottom","type":"error"});
                }else if(res.status==2) {
                    noty({"text":"线上业务流程处理失败","layout":"bottom","type":"error"});
                }
            },'json')
        }
        function showFadeBox(wx_card_id) {
            $('#wx_card_id').val(wx_card_id);
        }
        function modifyStock(){
            var url = "{% url 'admin:giftcard:card_stock_modify'%}";
            var increase=$('#modify_stock #increase').val();
            var reduce=$('#modify_stock #reduce').val();
            var wx_card_id = $('#wx_card_id').val();
            var data ={
                increase :increase,
                reduce :reduce,
                wx_card_id :wx_card_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            $.post(url,data,function (data) {
                if(data.status==0){
                    noty({"text":"数据提交成功","layout":"bottom","type":"information"});
                    window.location.reload()
                }else {
                    noty({"text":"数据提交失败","layout":"bottom","type":"error"});
                }
            },'json')
        }
    </script>
{% endblock %}