{% extends 'base/commont.html' %}
{% load myFilter %}
{% block current_page %}
    <a href="#">礼品卡</a>
    <a href="#">卡实例</a>
    <a href="#" class="current">上传Code</a>
{% endblock %}
{% block content_r %}
    <style>.card_list {
        background-color: #eee
    }</style>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-align-justify"></i>
                    <span class="break"></span>
                    异常数据查询
                </h2>
            </div>
            <div class="box-content">
                <div class="alert alert-block ">
                    <h4 class="alert-heading">警告!!!!!!</h4>
                    <p>
                        单次上传Code数量不能超过100个！
                    </p>
                </div>

                <form action="{% url 'admin:giftcard:card_code_upload_manual' wx_card_id %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="query">
                    <div class="list">
                        <div class="row-fluid">
                            <div class="control-group span3">
                                <label class="control-label">充值单号:</label>
                                <div class="controls">
                                    <input name="sheetid" type="text" value="{{ sheetid }}">
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label">充值数量:</label>
                                <div class="controls">
                                    <input name="count" type="text" value="{{ count | default:100 }}">
                                </div>
                            </div>
                            <div class="control-group span3">
                                <input type="text" name="price" readonly="readonly" value="{{ price | floatformat:2 }}">
                            </div>
                            <div class="control-group span3">
                                <button class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                </form>

                {% if codes_error %}
                    <div class="alert alert-error">
                        <strong>异常Code!</strong> {{ codes_error }}.
                        <br>
                        <strong>合计：</strong> {{ codes_error_num }}.
                    </div>
                {% endif %}
                {% if codes_correct %}
                    <div class="alert alert-info">
                        <strong>正常Code!</strong> {{ codes_correct }}.
                        <br>
                        <strong>合计：</strong> {{ codes_correct_num }}.
                        <div class="row-fluid">
                            <button type="button" class="btn btn-primary pull-right" onclick="uploadeCode()">上传</button>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <strong>暂无正常Code!</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <a class="btn btn-inverse btn-setting" style="display: none" id="res_box_switch">
        <i class="icon-pencil"></i>
    </a>
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 class="res_title"></h3>
        </div>
        <div class="modal-body">
            <p class="row success">
                <strong>上传微信成功 [<span class="success-num"></span>]：</strong>
                <span class="success-code"></span>
            </p>
            <p class="row fail">
                <strong>上传微信失败 [<span class="fail-num"></span>]：</strong>
                <span class="fail-code"></span>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">关闭</a>
            <a href="#" class="btn btn-primary">确认</a>
        </div>
    </div>
{% endblock %}
{% block common_js %}
    <script type="text/javascript">
        function uploadeCode() {
            var codes_correct = {{ codes_correct | safe }};
            $.post(
                "{% url 'admin:giftcard:card_code_upload_manual' wx_card_id %}",
                {
                    codes: codes_correct,
                    action: 'upload',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                function (data) {
                    if(data.status == 0){
                        noty({"text": "数据处理成功", "layout": "bottom", "type": "information"});
                    }
                    else if(data.status == 2){
                        noty({"text": "全部Code上传成功，线下处理失败，请再次上传或联系管理员", "layout": "bottom", "type": "error"});
                    }
                    else if(data.status == 5){
                        noty({"text": "数据处理失败", "layout": "bottom", "type": "error"});
                    }
                    else{
                        $('#res_box_switch').click();
                        if(data.status == 1){
                            $('.row').show();
                            $('.res_title').text('部分Code(微信和本地)处理成功');
                            $('.success-code').text(data.code_success);
                            $('.success-num').text(data.code_success_num);
                            $('.fail-code').text(data.code_fail);
                            $('.fail-num').text(data.code_fail_num);
                        } else if(data.status == 3){
                            $('.row').show();
                            $('.res_title').text('部分Code上传微信成功，线下处理失败');
                            $('.success-code').text(data.code_success);
                            $('.success-num').text(data.code_success_num);
                            $('.fail-code').text(data.code_fail);
                            $('.fail-num').text(data.code_fail_num);
                        }
                    }

                },
                'json'
            )
        }

    </script>
{% endblock %}