{% extends 'base/commont.html' %}
{% load myFilter %}
{% block current_page %}修改货架信息{% endblock %}
{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i>货架信息</h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" id="Form" method="post" action="{% url 'admin:giftcard:page_edit' 1 %}">
                    {% csrf_token %}
                    <input type="hidden" name="wx_page_id" value="{{ page.wx_page_id }}">
                    <div class="control-group">
                        <label class="control-label">标题名称:</label>
                        <div class="controls">
                            <input type="text" name="page_title" value="{{ page.title }}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">主题图片:</label>
                        <div class="controls">
                            <select name="banner_pic_url">
                                {% for pic in pic_list %}
                                    <option value="{{ pic.url }}" {% if page.banner_pic == pic.url %} selected{% endif %}>
                                        {{ pic.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="category_list list">
                        {% for category in page.category_list %}
                            <div class="row-fluid">
                                <div class="control-group span3">
                                    <label class="control-label">分类:</label>
                                    <div class="controls">
                                        <input class="category_title" type="text" name="category[]" value="{{ category.title }}">
                                    </div>
                                </div>
                                <div class="control-group span2 list-item-btn">
                                    <a class="btn btn-small btn-success" onclick="addFormRow(this)" title="添加">
                                         <i class="icon-plus"></i>
                                    </a>
                                    <a class="btn btn-small btn-danger" onclick="delFormRow(this)" title="删除">
                                         <i class="icon-minus"></i>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <div class="row-fluid">
                                <div class="control-group span3">
                                    <label class="control-label">分类:</label>
                                    <div class="controls">
                                        <input class="category_title" type="text" name="category[]">
                                    </div>
                                </div>
                                <div class="control-group span2 list-item-btn">
                                    <a class="btn btn-small btn-success" onclick="addFormRow(this)" title="添加">
                                         <i class="icon-plus"></i>
                                    </a>
                                    <a class="btn btn-small btn-danger" onclick="delFormRow(this)" title="删除">
                                         <i class="icon-minus"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="theme-list list">
                        {% for theme in page.theme_list %}
                            <div class="row-fluid">
                                <div class="control-group span3">
                                    <label class="control-label">主题:</label>
                                    <div class="controls">
                                        <select name="theme[]">
                                            <option>请选择</option>
                                            {% for base_theme in base_theme_list %}
                                                {% if theme|slice:":1"|int == base_theme.id %}
                                                    <option value="{{ base_theme.id }}" selected>{{ base_theme.title }}</option>
                                                {% else %}
                                                    <option value="{{ base_theme.id }}">{{ base_theme.title }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group span3">
                                    <label class="control-label">所属分类:</label>
                                    <div class="controls">
                                        <input type="text" name="theme_category[]" value="{{ theme|slice:"2:" }}">
                                        {% comment %}<select name="" class="theme_category_index"></select>{% endcomment %}
                                    </div>
                                </div>
                                <div class="control-group span2 list-item-btn">
                                    <a class="btn btn-small btn-success" onclick="addFormRow(this)" title="添加">
                                         <i class="icon-plus"></i>
                                    </a>
                                    <a class="btn btn-small btn-danger" onclick="delFormRow(this)" title="删除">
                                         <i class="icon-minus"></i>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <div class="row-fluid">
                            <div class="control-group span3">
                                <label class="control-label">主题:</label>
                                <div class="controls">
                                    <select name="theme[]">
                                        <option>请选择</option>
                                        {% for base_theme in base_theme_list %}
                                            <option value="{{ base_theme.id }}">{{ base_theme.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="control-group span2 list-item-btn">
                                <a class="btn btn-small btn-success" onclick="addFormRow(this)" title="添加">
                                     <i class="icon-plus"></i>
                                </a>
                                <a class="btn btn-small btn-danger" onclick="delFormRow(this)" title="删除">
                                     <i class="icon-minus"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" onclick="submitForm()">保存修改</button>
                    </div>
                </form>
            </div>

        </div><!--/span-->

    </div>
{% endblock %}
{% block common_js %}
    <script>
        $(function () {
            {% comment %}createSelect();
            $(document).on("blur",".category_list .category_title",function(){
                createSelect();
            });{% endcomment %}
            function submitForm() {
                $('#Form').submit();
            }
        });


        function createSelect() {
            var category_list = $(".category_title");
            $('.theme_category_index').empty();
            category_list.each(function (index) {
                var title = $(this).val();
                if(title){
                    var option = $("<option></option>").text(title).val(index);
                    $('.theme_category_index').append(option);
                }
            })
        }

        var res_status = {{ res.status | safe | default:-1 }};
        if (res_status === 0) {
            alert("数据提交成");
            window.location.href = "{% url 'admin:giftcard:page' %}"
        } else if (res_status === 1) {
            alert("数据提交失败");
            window.location.href = "{% url 'admin:giftcard:page_edit' page_id %}"
        }


    </script>
{% endblock %}