{% extends 'base/commont.html' %}
{% load myFilter %}
{% block current_page %}
    <a href="#">礼品卡</a>
    <a href="#" class="current">主题</a>
{% endblock %}
{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-edit"></i>编辑主题
                </h2>
            </div>
            <div class="box-content">
                <div id="MyWizard" class="wizard">
                    <ul class="steps">
                        <li data-target="#step1" class="active"><span class="badge badge-info">1</span></li>
                        <li data-target="#step2"><span class="badge">2</span></li>
                        <li data-target="#step3"><span class="badge">3</span></li>
                    </ul>
                    <div class="actions">
                        <a href="{% url 'admin:giftcard:themes' %}" class="btn btn-primary" style="margin-right:50px">
                            返&nbsp;&nbsp;回<i class="icon-reply" style="margin-left: 10px"></i>
                        </a>
                        {% if step_prev > 0 %}
                            <a class="btn" href="{%url 'admin:giftcard:theme_edit' theme_id step_prev %}">
                                <i class="icon-arrow-left"></i> 上一步
                            </a>
                        {% endif %}
                        {% if step_next < 4  %}
                            <a class="btn btn-success" href="{%url 'admin:giftcard:theme_edit' theme_id step_next %}">
                                下一步 <i class="icon-arrow-right"></i>
                            </a>
                        {% elif step_next == 4 %}
                            <a class="btn btn-success" data-last="" href="{%url 'admin:giftcard:themes'%}">
                                完成 <i class="icon-arrow-right"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="step-content">
                    <div id="step1" class="step-pane active">
                        <form class="form-horizontal" id="Form" method="post" action="{% url 'admin:giftcard:theme_edit' theme_id 1 %}">
                            {% csrf_token %}
                            <div class="control-group">
                                <label class="control-label">主题标题</label>
                                <div class="controls">
                                    <input type="text" name="title" value="{{ theme.title }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">标题颜色</label>
                                <div class="controls">
                                    <input type="text" name="title_color" value="{{ theme.title_color }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">封面图片</label>
                                <div class="controls">
                                    <select name="theme_pic" id="">
                                        <option>请选择</option>
                                        {% for pic in pic_list %}
                                            <option value="{{ pic.url }}" {% if theme.theme_pic == pic.url %} selected{% endif %}>
                                                {{ pic.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">突出商品</label>
                                <div class="controls">
                                    <label class="checkbox inline">
                                        <input type="checkbox" name="sku_title_first" value="1" {% if theme.sku_title_first == '1' %} checked{% endif %}/>
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">状态</label>
                                <div class="controls">
                                    <select name="status">
                                        <option>请选择</option>
                                        <option value="0" {% if theme.status == '0' %}selected{% endif %}>启用</option>
                                        <option value="1" {% if theme.status == '1' %}selected{% endif %}>禁用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" onclick="submitForm()">保存修改</button>
                            </div>
                        </form>
                    </div>
                    <div id="step2" class="step-pane ">
                        <form class="form-horizontal" id="Form" method="post" action="{% url 'admin:giftcard:theme_edit' theme_id 2 %}">
                            {% csrf_token %}
                            <input type="hidden" name="th_id" value="{{ th_id }}">
                            <div class="item_list list">
                                {% for item in item_list %}
                                    <div class="row-fluid">
                                        <input type="hidden" name="item_id[]" value="{{ item.id }}">
                                        <div class="control-group span3">
                                            <label class="control-label">礼品卡ID:</label>
                                            <div class="controls">
                                                <select name="item_card_id[]">
                                                    <option>请选择</option>
                                                    {% for card in card_list %}
                                                        <option value="{{ card.wx_card_id }}" {% if card.wx_card_id == item.wx_card_id %}selected{% endif %}>
                                                            {{ card.title }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group span3">
                                            <label class="control-label">礼品卡标题:</label>
                                            <div class="controls">
                                                <input type="text" name="item_card_title[]" value="{{ item.title }}">
                                            </div>
                                        </div>
                                        <div class="control-group span2 list-item-btn">
                                            <button type="button" class="btn btn-small btn-success" onclick="addFormRow(this)">
                                                添加 <i class="icon-plus"></i>
                                            </button>
                                            <button type="button" class="btn btn-small btn-danger" onclick="delFormRow2(this,'card','{{ item.title }}')">
                                                删除 <i class="icon-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="row-fluid">
                                        <input type="hidden" name="item_id[]">
                                        <div class="control-group span3">
                                            <label class="control-label">礼品卡ID:</label>
                                            <div class="controls">
                                                <select name="item_card_id[]">
                                                    <option>请选择</option>
                                                    {% for card in card_list %}
                                                        <option value="{{ card.wx_card_id }}">{{ card.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group span3">
                                            <label class="control-label">礼品卡标题:</label>
                                            <div class="controls">
                                                <input type="text" name="item_card_title[]" value="">
                                            </div>
                                        </div>
                                        <div class="control-group span2 list-item-btn">
                                            <button type="button" class="btn btn-small btn-success" onclick="addFormRow(this)">
                                                添加 <i class="icon-plus"></i>
                                            </button>
                                            <button type="button" class="btn btn-small btn-danger" onclick="delFormRow2(this)">
                                                删除 <i class="icon-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" onclick="submitForm()">保存修改</button>
                            </div>
                        </form>
                    </div>
                    <div id="step3" class="step-pane ">
                        <form class="form-horizontal" id="Form" method="post" action="{% url 'admin:giftcard:theme_edit' theme_id 3 %}">
                            {% csrf_token %}
                            <input type="hidden" name="th_id" value="{{ th_id }}">
                            <div class="pic_item_list list">
                                {% for pic_item in pic_item_list %}
                                    <div class="row-fluid">
                                        <input type="hidden" name="pic_item_id[]" value="{{ pic_item.id }}">
                                        <div class="control-group span3">
                                            <label class="control-label">卡面背景:</label>
                                            <div class="controls">
                                                <select name="pic_item_pic[]" >
                                                    <option>请选择</option>
                                                    {% for pic in pic_list %}
                                                        <option value="{{ pic.url }}" {% if pic_item.background_pic == pic.url %} selected{% endif %}>
                                                            {{ pic.title }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="control-group span3">
                                            <label class="control-label">祝福语:</label>
                                            <div class="controls">
                                                <input type="text" name="pic_item_msg[]" value="{{ pic_item.msg }}">
                                            </div>
                                        </div>
                                        <div class="control-group span2 list-item-btn">
                                            <button type="button" class="btn btn-small btn-success" onclick="addFormRow(this)">
                                                添加 <i class="icon-plus"></i>
                                            </button>
                                            <button type="button" class="btn btn-small btn-danger" onclick="delFormRow2(this,'pic','{{ pic_item.id }}')">
                                                删除 <i class="icon-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="row-fluid">
                                        <input type="hidden" name="pic_item_id[]">
                                        <div class="control-group span3">
                                            <label class="control-label">卡面背景:</label>
                                            <div class="controls">
                                                <select name="pic_item_pic[]" >
                                                    <option>请选择</option>
                                                    {% for pic in pic_list %}
                                                        <option value="{{ pic.url }}">
                                                            {{ pic.title }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group span3">
                                            <label class="control-label">祝福语:</label>
                                            <div class="controls">
                                                <input type="text" name="pic_item_msg[]" value="">
                                            </div>
                                        </div>
                                        <div class="control-group span2 list-item-btn">
                                            <button type="button" class="btn btn-small btn-success" onclick="addFormRow(this)">
                                                添加 <i class="icon-plus"></i>
                                            </button>
                                            <button type="button" class="btn btn-small btn-danger" onclick="delFormRow2(this)">
                                                删除 <i class="icon-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" onclick="submitForm()">保存修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}
    <script>
       //表单提交
        function submitForm() {
           var step = $('.steps .active').attr('data-target');
            $(step+' #Form').submit();
        }

        //控制步骤显示
       var step_id = {{ step_id | safe | default:1 }}
        goToStep(step_id-1);

        $(function(){
            var res_status = {{ res.status | safe | default:-1 }};
            if (res_status === 1) {
                noty({"text": "数据提交失败", "layout": "bottom", "type": "error"});
            }
        });
        function goToStep(step_id) {
            var step_total = $('.steps li').length;
            $('.steps li').removeClass('active').removeClass('complete');
            $('.step-content .step-pane').removeClass('active');
            for(var i=0;i<step_total;i++){
                if(i<step_id){
                    $('.steps li').eq(i).addClass('complete');
                }else if(i==step_id){
                    $('.steps li').eq(i).addClass('active');
                    $('.step-content .step-pane').eq(i).addClass('active');
                }
            }
        }



    </script>
{% endblock %}