{% extends 'base/commont.html' %}
{% block current_page %}
    <a href="#">礼品卡</a>
    <a href="#" class="current">图片素材</a>
{% endblock %}
{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-edit"></i>上传素材
                </h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" id="Form" method="post" action="{% url 'admin:giftcard:img_upload' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="control-group">
                        <label class="control-label">图片标题</label>
                        <div class="controls">
                            <input type="text" name="title" id="title" value="{{ img.title }}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">上传图片</label>
                        <div class="controls">
                            <input type="file" name="img" id="img">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">原图：</label>
                        <div class="controls">
                            <img src="{{ img.url }}" height="210" width="250">
                        </div>
                    </div>
                    <input type="hidden" name="img_id" value="{{ img_id }}">
                    <div class="form-actions">
                        <a class="btn btn-primary" onclick="submitForm()">上传</a>
                        <button type="reset" class="btn" onclick="window.history.back()">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}
    <script>
        function submitForm() {
            var title = $('#title').val();
            var img = $('#img').val();
            if(!img || !title){
                noty({"text": "补全信息后，再次提交", "layout": "bottom", "type": "error"});
                return false;
            }else{
                $('#Form').submit();
            }
        }

        var res_status = {{ res.status | safe | default:-1 }};
        if(res_status === 1) {
            alert("数据提交失败");
        }
    </script>
{% endblock %}