{% extends 'base/commont.html' %}
{% block current_page %}
    <a href="#">礼品卡</a>
    <a href="#" class="current">图片素材</a>
{% endblock %}
{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-edit"></i>上传素材
                </h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" id="Form" method="post" action="{% url 'admin:giftcard:upload_img2' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="control-group">
                        <label class="control-label">图片标题</label>
                        <div class="controls">
                            <input type="text" name="title">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">上传图片</label>
                        <div class="controls">
                            <input type="file" name="img">
                        </div>
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-primary" onclick="submitForm()">上传</button>
                        <button type="reset" class="btn" onclick="window.history.back()">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}
    <script>
        function submitForm() {
            $('#Form').submit();
        }

        var res_status = {{ res.status | safe | default:-1 }};
        if(res_status === 1) {
            noty({"text": "数据提交失败", "layout": "bottom", "type": "error"});
        }
    </script>
{% endblock %}