{% extends 'base/commont.html' %}

{% block content_r %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="icon-edit"></i>编辑海报记录
                </h2>
            </div>
            <div class="box-content">
                <form class="form-horizontal" id="Form" method="post" enctype="multipart/form-data" action="{% url 'wxapp:poster_save' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ poster.id }}" name="poster_id">
                    <div class="control-group ">
                        <label>海报名称：
                            <input name="poster_name" type="text" value="{{ poster.poster_name }}">
                        </label>
                    </div>
                    <div class="control-group">
                        <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2"
                             data-date-format="yyyy-mm-dd" data-date=""
                             class="input-group date form_date">
                            <label>开始日期：
                                <input readonly="" value="{{ voucher.begin_date | date:'Y-m-d' }}" size="16"
                                       name="begin_date"
                                       id="begin_date" class="form-control" required>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div data-link-format="yyyy-mm-dd" data-link-field="dtp_input2"
                             data-date-format="yyyy-mm-dd" data-date=""
                             class="input-group date form_date">
                            <label>截止日期：
                                <input readonly="" value="{{ voucher.end_date | date:'Y-m-d' }}" size="16"
                                       name="end_date"
                                       id="end_date" class="form-control" required>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </label>
                        </div>
                    </div>
                    <div class="control-group ">
                        <label>上传图片：
                            <input type="file" name="poster_image">
                        </label>
                        <img src='{{ img_url }}'/>
                    </div>
                    <div class="form-actions">
                        <a class="btn btn-primary" onclick="submitForm()">提交</a>
                        <button type="reset" class="btn" onclick="window.history.back()">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block common_js %}
    <script>
        function submitForm() {
            $('#Form').submit();
        }
    </script>
    <!--给日期绑定控件-->
    <script type="text/javascript">
        $('.form_date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
{% endblock %}